<!DOCTYPE html>

<head>

    <!--Import Bootstrap and Ajax -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Import selectors.js-->
    <script src="{{ url_for('static', filename='js/selectors.js') }}"></script>


</head>

<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Area 51 Financial</h1>
            <p class="lead">Loan Approval Form</p>
        </div>
    </div>
    <div class="container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="loanLength">How long of a loan do you need?</label>
            </div>
            <select class="custom-select" id="loanLength" name =  "loanLength">
                <option selected>Choose...</option>
                <option value="B10">0 to 11 months</option>
                <option value="B11">12 to 23 months</option>
                <option value="B12">24 to 35 months</option>
                <option value="B13">36 to 47 months</option>
                <option value="B14">48 to 60 months</option>
                <option value="B15">60 to 72 months</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="loanPurpose">What is this loan for?</label>
            </div>
            <select class="custom-select" id="loanPurpose" name="loanPurpose">
                <option selected>Choose...</option>
                <option value="A40">New Car</option>
                <option value="A41">Used Car</option>
                <option value="A42">Furniture</option>
                <option value="A43">Television/Stero</option>
                <option value="A44">Appliances</option>
                <option value="A45">Repairs</option>
                <option value="A46">Education</option>
                <option value="A48">Retraining</option>
                <option value="A49">Business</option>
                <option value="A410">Other</option>
            </select>
        </div>

        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="loanSize">Size of loan?</label>
                </div>
                <select class="custom-select" id="loanSize" name="loanSize">
                    <option selected>Choose...</option>
                    <option value="B200">$0 to $2499</option>
                    <option value="B21">$2500 to $4999</option>
                    <option value="B22">$5000 to $7499</option>
                    <option value="B23">$7500 to $9999</option>
                    <option value="B24">$10000 to $12499</option>
                    <option value="B25">$12500 to $14999</option>
                    <option value="B26">$15000 to $17499</option>
                    <option value="B27">$17500 to $20000</option>
                </select>
            </div>
          
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="employmentHistory">How many years have you been at your present employer?</label>
                        </div>
                        <select class="custom-select" id="employmentHistory" name="employmentHistory">
                            <option selected>Choose...</option>
                            <option value="A71">Unemployed</option>
                            <option value="A72">Less than 1 year</option>
                            <option value="A73">1-4 years</option>
                            <option value="A74">5-7 years</option>
                            <option value="A75">More than 7 years</option>
                        </select>
                    </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="cosignerCoborrower">Do you have a co-borrower or guarantor?</label>
            </div>
            <select class="custom-select" id="cosignerCoborrower" name="cosignerCoborrower">
                <option selected>Choose...</option>
                <option value="A101">None</option>
                <option value="A102">Co-borrower</option>
                <option value="A103">Guarantor</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="age">What is your Age?</label>
            </div>
            <select class="custom-select" id="age" name="age">
                <option selected>Choose...</option>
                <option value="B30">Under 24</option>
                <option value="B31">25 to 34</option>
                <option value="B32">35 to 44</option>
                <option value="B33">45 to 54</option>
                <option value="B34">55 to 64</option>
                <option value="B35">65 to 75</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="homeowner">Do you rent or own your home?</label>
            </div>
            <select class="custom-select" id="homeowner" name="homeowner">
                <option selected>Choose...</option>
                <option value="A151">Rent</option>
                <option value="A152">Own</option>
                <option value="A153">Other</option>

            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="telephone">Do you have active telephone service?</label>
            </div>
            <select class="custom-select" id="telephone", name="telephone">
                <option selected>Choose...</option>
                <option value="A191">Yes</option>
                <option value="A192">No</option>

            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="foreignWorker">Are you a foreign worker?</label>
            </div>
            <select class="custom-select" id="foreignWorker" name="foreignWorker">
                <option selected>Choose...</option>
                <option value="A201">Yes</option>
                <option value="A202">No</option>

            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="getInputs();">Submit</button>
        </form>


</body>

</html>