<html>

<head>

    <!--Import Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Area 51 Financial</h1>
            <p class="lead">Loan Approval Form</p>
        </div>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Do you have dependents?</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">How long of a loan do you need?</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="0">0 to 11 months</option>
            <option value="1">12 to 23 months</option>
            <option value="2">24 to 35 months</option>
            <option value="3">36 to 47 months</option>
            <option value="4">48 to 60 months</option>
            <option value="5">60 to 72 months</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">What is your credit history?</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="0">No Credit History</option>
                <option value="1">All debts repaid</option>
                <option value="2">All existing loans in good standing</option>
                <option value="3">History of late payments/nonpayments</option>
                <option value="4">Critical account at other bank</option>
            </select>
        </div>

        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">What is this loan for?</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="0">New Car</option>
                        <option value="1">Used Car</option>
                        <option value="2">Furniture</option>
                        <option value="3">Television/Stero</option>
                        <option value="4">Appliances</option>
                        <option value="5">Repairs</option>
                        <option value="6">Education</option>
                        <option value="7">Retraining</option>
                        <option value="8">Business</option>
                        <option value="9">Other</option>
                    </select>
                </div>
</body>

</html>