<!DOCTYPE html>

<head>
    <!-- Import selectors.js-->
    <script src="{{ url_for('static', filename='js/selectors.js') }}"></script>

    <!--Import Bootstrap CC -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<body>
    <div class="view"
        style="background-image: url('https://images.unsplash.com/photo-1513628253939-010e64ac66cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'); background-repeat: no-repeat; background-size: cover;">

        <div class="jumbotron jumbotron-fluid"
            style="background-image: url(https://images.unsplash.com/photo-1499532744860-fb7526b66e7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1414&q=80.jpg); background-repeat: no-repeat; background-size:cover; background-position: 50% 65%">
            <div class="container"></div>
            <h1 class="display-4">
                <font color='white'><strong>Area 51 Financial</strong></font>
            </h1>
            <p class="lead">
                <font color='white'>Loan Pre-Approval Form</font>
            </p>
        </div>
        <div class='container'>
            <h3>
                <font color='white'>You have not been approved.</font>
            </h3>
            <br>
            <br>
            <a href="/" button type="button" class="btn btn-primary btn-lg btn-block">Return to main page</a>
        </div>
        <br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

</body>

</html>