<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Area 51 Financial</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link
    href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/business-casual.css') }}" rel="stylesheet">

</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3"></span>
    <span class="site-heading-lower">Area 51 Financial</span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Area 51 Financial</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/">Home
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/apply">Apply!</a>
          </li>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/model">Our Models
              <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/summary">Summary</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section about-heading">
    <div class="container">
      <br>
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower text-center">About our models</span><br>
                <span class="section-heading-upper">Our team</span>
              </h2>
              <p>Aly Smith | Chris Gilbert | Derek Shashek | Karthik Burra</p><br>

              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Our goal</span>
              </h2>
              <p>To create a loan pre-approval tool with a high level of accuracy using a machine learning model. The
                tool must be able to be implemented in real time, accessible via the internet, and use minimal data
                inputs.</p><br>

              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">About the data</span>
              </h2>
              <p>We selected a <a href="https://www.kaggle.com/dataforyou/bankloan" target="_blank">dataset</a> from
                Kaggle that we felt had enough data points to train and test a machine
                learning model. This dataset came from Credit One Bank and included data from 5,000 loans and included
                20 attributes of each
                loan as well as whether the loan had defaulted. The attributes contained information about the borrower,
                details of the loan structure, and historical information between the borrower and the bank. The data
                did not include any classifications of a borrower’s credit profile or FICO scores.
              </p><br>

              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Data preprocessing</span>
              </h2>
              <p>While processing the data prior to implementing the machine learning models, we noticed that several
                the attributes that were unclear or seemed to be categorized without specific data on the
                classification. We removed these attributes from the dataset. We also categorized the remaining
                attributes that were in a numerical format including age, loan amount, and loan duration. We also chose
                to remove other attributes that were related to the relationship between the bank and the borrower. We
                felt that using attributes that were inclusive of only the borrower and requested loan could help to
                remove any bias that the model may have regarding current bank customers as the data on them would be
                more robust.</p><br>
              <p>In the end we reduced the number of attributes used in the model from 20 to 9 including:<br>
                - Loan term<br>
                - Loan purpose<br>
                - Loan amount<br>
                - Years at current employer<br>
                - Co-borrower or guarantor<br>
                - Age of applicant<br>
                - Rent or Own home<br>
                - Active telephone service<br>
                - Foreign worker
              </p><br>

              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Machine Learning models</span>
              </h2>
              <p>K-Nearest Neighbors (KNN) - 88.1% Accuracy</p>
              <p>K-Nearest Neighbors algorithm is the simplest of all the supervised machine learning algorithms. That
                classifies new cases based on the similarity measures (with regard to distance functions). It simply
                calculates the distance of a new data point to all other training data points. The distance can be of
                any type e.g Euclidean or Manhattan etc. It then selects the K-nearest data points, where K can be any
                integer. Finally, it assigns the data point to the class to which the majority of the K data points
                belong.</p>

              <p>K-Nearest Neighbors computes the likelihood of each data point defaulting or not defaulting on a loan.
                For example, customer 1 has the probability of not defaulting of 100%. For customer 2, the likelihood of
                not defaulting is 97%. For customer 3 it is 73%. For customer 4 the likelihood of defaulting is 53%
                which means that this customer or people like that are likely to default.
              </p><br>

              <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/knn_conf.png" alt=""><br>
              <hr>


              <p>Support Vector Machine (SVM) - 93.5% Accuracy</p>
              <p>A Support Vector Machine (SVM) is a supervised machine learning algorithm which can be used for both
                classification and regression problems.</p><br>

              <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/svm_conf.png" alt=""><br>
              <hr>

              <p>Deep Neural Network (DNN) - 93.7% Accuracy</p>
              <p>A neural network is an unsupervised machine learning model built to simulate the activity of the human
                brain. Its primary use is for pattern recognition and this is achieved by the passing input through
                various layers of connections that simulate neural paths of a brain. The simplest neural network will
                have an input layer, an output layer, and a single hidden layer between. Each layer performs specific
                types of sorting and ordering in a process that is referred to as feature hierarchy. When training the
                model, this will add different weights specific to input data and attempt to find patterns in the data
                that will result in the most accurate prediction of the data output.</p>

              <p>The model that we used was considered a “deep learning” neural network, which is classified as a neural
                network with more than 1 hidden layer. After testing different structures, we chose to use 3 hidden
                layers in our model with 51 nodes in each layer and set the model to run for 100 epochs.
              </p><br>

              <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/dnn_conf.png" alt=""><br>
              <hr>

              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Feature importance</span>
              </h2>
              <p>We used a Lasso model to determine which of the impacts had the highest amount of influence on whether
                a loan would or would not default. The loan term and loan amount were the most relevant factors in the
                predicting a default.</p><br>
              <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/features.png" alt=""><br>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="footer text-faded text-right py-5">
    <div class="container">
      <p class="m-0 small">&copy; Area 51 Fiancial, LLC</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>