<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Area 51 Financial</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link
    href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/business-casual.css') }}" rel="stylesheet">

</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3"></span>
    <span class="site-heading-lower">Area 51 Financial</span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Area 51 Financial</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/">Home
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/apply">Apply!</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/model">Our Models</a>
          </li>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/summary">Summary
              <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section about-heading">
    <div class="container">
      <br>
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower text-center">Project Summary</span><br>
              </h2>
              <p>Our goal was to use a machine learning model to accurately predict if a loan would default given a
                minimal set of inputs. We used three different machine learning models to see which one could generate
                the most accurate model. In the end the accuracy of the SVM model and the DNN model were very close at
                93.5% accuracy and 93.7% accuracy respectively.</p>

                <p>We wanted also to determine which model had the highest accuracy specifically to predicting that a loan
                would not default. If the model would predict that a loan would default (even if it was incorrect and
                the loan would not default) this would still be ok for the bank as they would not lose their capital,
                only the opportunity for profits of a loan that wasn’t extended. This scenario would be described as a
                false negative. If the model would predict a loan would not default, but in the end it would actually
                default (false positive), this would be very problematic for the bank as they could lose the capital
                investment in the loan.</p>

                <p>We created confusion matrices for each of the models to determine which model would provide the lowest
                level of false positives. All three models were close with KNN at 12.4%, SVM at 13.5%, and DNN at 12.0%.
                In the end we selected the Deep Neural Network to run our application. Although the 12.0% potential
                failure rate of pre-approved loans is likely to high for a bank to incorporate into their application
                processes, it could still be used as somewhat of a filter to expedite the consumer lending process. We
                could also work to fine tune each model in the future and hopefully with more data be able to be more
                accurate with our predictions.

              </p><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-right py-5">
    <div class="container">
      <p class="m-0 small">&copy; Area 51 Fiancial, LLC</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>